/* :root {
  --font-family: Arapey;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
  position: relative;
}

.fixed-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
  font-size: 35px;
  padding: 25px;
  color: #25d366;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
  width: 55%;
  max-width: 736.7px;
  position: fixed;
  padding: 5px 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-hidden {
  opacity: 0;
  pointer-events: none;
}


nav a {
  text-decoration: none;
  color: #000066;
  font-size: 14px;
  transition: transform 0.4s ease;
}

nav a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-mid {
  display: flex;
  gap: 20px;
}

.nav-right a {
  border: 1px solid #000066;
  padding: 5px 10px;
  color: #000066;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}

.nav-right button {
  color: #000066;
}

.nav-right a:hover {
  background-color: #000066;
  color: white;
}

.nav-hidden {
  opacity: 0;
  pointer-events: none;
}


.menu {
  display: none;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 8px 10px;
  color: #000066;
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #000066;
  transition: transform 0.4s ease;
}

.mobile-menu a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mobile-menu .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #000066;
  padding: 10px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.5s ease;
  cursor: pointer;
}

.mobile-menu .close:hover {
  background-color: #000066;
  color: white;
  border-radius: 50px;
}


.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.faq {
  width: 95%;
  margin: 120px auto;
}

.faq-top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.faq-left,
.faq-right {
  width: 50%;
  position: relative;
}

.faq-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chev {
  transition: transform 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, padding 0.35s ease;
  padding: 0 20px;
  background: transparent;
}

.content {
  padding: 15px 0 30px 0;
  color: rgb(179, 179, 179);
  font-size: 20px;
  line-height: 24px;
}

.item[aria-expanded="true"] .chev {
  transform: rotate(45deg);
}

.item[aria-expanded="true"] .content-wrap {
  max-height: 600px;
  padding: 15px 20px;
}

.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.accordion .item {
  background-color: #000066;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 5px 20px;
  border-radius: 10px;
}

.accordion .trigger {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  text-align: left;
}


.accordion .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.accordion .title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.faq-right img {
  width: 100%;
  height: 100%;
  /* transform: rotate(10deg); */
  object-fit: contain;
}

.faq h1 {
  font-weight: 400;
  font-size: 40px;
}

.faq .stuck {
  font-size: 18px;
  margin-top: 10px;
}

.questions {
  width: 100%;
  display: flex;
  margin-top: 50px;
  gap: 20px;
}

.questions-left,
.questions-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.q1 {
  display: flex;
  gap: 10px;
}



.q1 .icon {
  /* border: 1.5px solid rgb(201, 201, 201); */
  align-self: flex-start;
  padding: 2px 5px;
  width: 40px;
  border-radius: 3px;
}

.icon i {
  color: #000066;
}

.q1 h3 {
  font-weight: 400;
  font-size: 17px;
}

.text p {
  font-size: 14px;
  font-weight: 300;
}

footer {
  width: 100%;
  margin: 40px auto 0px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.foot-left p {
  font-size: 13px;
}

.foot-right {
  display: flex;
  gap: 30px;
}

.foot-right a {
  text-decoration: none;
  color: #000066;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 5px 30px;
    width: 90%;
  }

  .nav-mid {
    display: none;
  }

  .nav-right a {
    display: none;
  }

  .menu {
    display: block;
  }


  .faq-left {
    width: 100%;
  }


  .questions .content {
    font-size: 16px;
  }

  .faq-right {
    display: none;
  }

  footer {
    padding: 5px 14px;
  }

  .foot-left p {
    display: none;
  }

  .foot-right {
    gap: 20px;
  }

}

@media (max-width: 900px) {
  .questions {
    flex-direction: column;
  }

  .questions-left,
  .questions-right {
    width: 100%;
  }

  .accordion {
    margin: 20px auto;
  }

  .accordion .title {
    font-size: 16px;
    line-height: 20px;
  }

}

@media (max-width: 600px) {
  .questions {
    gap: 30px;
    margin-top: 30px;
  }

  .accordion .item {
    padding: 5px 15px;
  }

  .accordion .trigger {
    padding: 14px 10px;
    gap: 10px;
  }

  .accordion .title {
    font-size: 15px;
    line-height: 20px;
  }

  .chev {
    font-size: 14px;
  }

  .content-wrap {
    padding: 0 10px;
  }

  .item[aria-expanded="true"] .content-wrap {
    padding: 10px;
  }

}

@media screen and (min-width: 1200px) {
  .faq-left h1 {
    font-size: 50px;
  }

  .faq-left .stuck,
  .faq-left p {
    font-size: 23px;
  }

  .content {
    font-size: 20px;
    line-height: 34px;
  }
}

@media screen and (min-width: 1500px) {
  .faq-left h1 {
    font-size: 60px;
  }

  .faq-left .stuck,
  .faq-left p {
    font-size: 25px;
  }

  .content {
    font-size: 20px;
    line-height: 34px;
  }
}

@media screen and (min-width: 2000px) {
  .faq-left h1 {
    font-size: 70px;
  }

  .faq-left .stuck,
  .faq-left p {
    font-size: 35px;
  }

  .accordion .title {
    font-size: 30px;
  }

  .accordion .item {
    padding: 18px;
  }

  .content {
    font-size: 25px;
    line-height: 34px;
  }

}