/* :root {
  --font-family: Arapey;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
}

nav {
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  border-radius: 50px;
}

.logo img {
  border-radius: 50px;
}

.nav-mid {
  display: flex;
  gap: 50px;
  border-radius: 50px;
  background-color: white;
}

.nav-mid a {
  text-decoration: none;
  color: #000066;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 16px;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.nav-mid a:hover {
  transform: scale(1.1);
  background-color: #000066;
  color: white;
}

.nav-right a {
  text-decoration: none;
  color: #000066;
  background-color: white;
  padding: 15px 20px;
  border-radius: 100px;
  font-size: 16px;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.nav-right a:hover {
  transform: scale(1.1);
  background-color: #000066;
  color: white;
}

.menu {
  display: none;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 8px 10px;
  color: #000066;
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #000066;
  transition: transform 0.4s ease;
}

.mobile-menu a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mobile-menu .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #000066;
  padding: 10px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.5s ease;
  cursor: pointer;
}

.mobile-menu .close:hover {
  background-color: #000066;
  color: white;
  border-radius: 50px;
}


.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.faq {
  width: 90%;
  margin: 120px auto;
}

.faq h1 {
  font-weight: 400;
  font-size: 40px;
}

.faq .stuck {
  font-size: 18px;
  margin-top: 10px;
}

.questions {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.questions-left,
.questions-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.q1 {
  display: flex;
  gap: 10px;
}



.q1 .icon {
  /* border: 1.5px solid rgb(201, 201, 201); */
  align-self: flex-start;
  padding: 2px 5px;
  width: 40px;
  border-radius: 3px;
}

.icon i {
  color: #000066;
}

.q1 h3 {
  font-weight: 400;
  font-size: 17px;
}

.text p {
  font-size: 14px;
  font-weight: 300;
}

footer {
  width: 100%;
  margin: 40px auto 0px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.foot-left p {
  font-size: 13px;
}

.foot-right {
  display: flex;
  gap: 30px;
}

.foot-right a {
  text-decoration: none;
  color: #000066;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 15px 20px;
  }

  .nav-mid {
    display: none;
  }

  .nav-right a {
    display: none;
  }

  .menu {
    display: block;
  }

  .questions {
    flex-direction: column;
  }

  .questions-left,
  .questions-right {
    width: 100%;
  }

  footer {
    padding: 5px 14px;
  }

  .foot-left p {
    display: none;
  }

  .foot-right {
    gap: 20px;
  }
}