:root {
  --font-family: Arapey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
  background: linear-gradient(to bottom right, white 90%, #FF00FF 190%);
  scroll-behavior: smooth;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-vid {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

nav {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.logo {
  border-radius: 50px;
}

.logo img {
  border-radius: 50px;
}

.nav-mid {
  display: flex;
  gap: 50px;
  border-radius: 50px;
  background-color: white;
  margin-left: 100px;
}

.nav-mid a {
  text-decoration: none;
  color: #000066;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 16px;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.nav-mid a:hover {
  transform: scale(1.1);
  background-color: #000066;
  color: white;
}

.nav-right a {
  text-decoration: none;
  color: #000066;
  background-color: white;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 16px;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.nav-right a:hover {
  transform: scale(1.1);
  background-color: #000066;
  color: white;
}

.menu {
  display: none;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 8px 10px;
  color: white;
}


.mobile-menu {
  border: 1px solid yellow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #000066;
  transition: transform 0.4s ease;
}

.mobile-menu a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mobile-menu .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #000066;
  padding: 10px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.5s ease;
  cursor: pointer;
}

.mobile-menu .close:hover {
  background-color: #000066;
  color: white;
  border-radius: 50px;
}


.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  transform: translate(-50%);
}

.hero-text h1 {
  font-family: Arapey;
  font-size: 60px;
  color: white;
  font-weight: 400
}

.hero-text p {
  color: white;
  font-weight: 300;
  font-size: 12px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.hero-text a {
  text-decoration: none;
  color: #000066;
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: transform 0.4s ease;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.hero-text a:hover {
  transform: scale(1.1);
}

.hero-text i {
  background-color: #000066;
  color: white;
  padding: 8px 9px;
  border-radius: 50px;
}

.discover {
  margin-top: 60px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-txt {
  width: 90%;
  font-family: var(--font-family);
}

.d-txt h2 {
  font-size: 35px;
  font-weight: 400;
}

.wellness {
  display: flex;
  gap: 30px;
  margin: 120px auto;
  width: 90%;
}

.wl-top h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 67px;
  line-height: 74px;
}

.well-left,
.well-right {
  width: 50%;
}

.well-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  padding: 30px 10px;
}

.wl-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wl-img {
  display: flex;
  gap: 0;
}

.wlll-img {
  margin-left: -10px;
}

.well-left a {
  text-decoration: none;
  color: white;
  background-color: #000066;
  align-self: flex-start;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: transform 0.4s ease;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.well-left a:hover {
  transform: scale(1.1);
}


.well-right {
  position: relative;
  height: 600px;
}

.well-right video {
  position: absolute;
  width: 90%;
  height: 100%;
  margin: auto;
  border-radius: 40px;
  object-fit: cover;
}

.transform {
  width: 95%;
  margin: 80px auto;
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 30px;
  padding: 30px;
  /* background-color: #000066; */
}

.transform-left,
.transform-right {
  width: 50%;
}

.transform-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: black;
}

.transform-left h2 {
  font-size: 44px;
  font-weight: 500;
}

.transform-right {
  position: relative;
  height: 400px;
}

.transform-right img {
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.objective {
  display: flex;
  gap: 30px;
  width: 90%;
  margin: 90px auto;
}

.obj-left,
.obj-right {
  width: 50%;
}

.obj-left {
  display: flex;
  align-items: center;
  padding: 20px;
}

.scroll-mask {
  height: 400px;
  overflow: hidden;
  width: 100%;
}

.scroll-mask {
  mask-image: linear-gradient(to bottom,
      transparent,
      black 15%,
      black 85%,
      transparent);
}

.scroll-track {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  animation: scrollUp 20s linear infinite;
}

.card {
  background: white;
  font-size: 1.2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  position: relative;
  height: 300px;
}

.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* ANIMATION */
@keyframes scrollUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

.obj-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}


.obj-right a {
  text-decoration: none;
  color: white;
  background-color: #000066;
  padding: 10px 20px;
  border-radius: 50px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: transform 0.4s ease;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.obj-right a:hover {
  transform: scale(1.1);
}

.conduct-div {
  width: 90%;
  margin: 60px auto;
}

.conduct-div h1 {
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.conducts {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0px 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
  /* height: 80vh; */
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  width: 80%;
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.sticky h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: #000066;
}

.sticky p {
  font-weight: 400;
}

.attached {
  width: 100%;
  height: 400px;
  background-image: url(/images/attached.jpeg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attach-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.attach-text {
  color: white;
  z-index: 2;
  position: relative;
  width: 60%;
  text-align: center;
}

.partnership {
  display: flex;
  gap: 30px;
  width: 90%;
  margin: 50px auto;
}

.part-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.part-left,
.part-right {
  width: 50%;
}

.part-right {
  position: relative;
  height: 400px;
}

.part-right img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.part-left a {
  text-decoration: none;
  color: white;
  background-color: #000066;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
  font-size: 16px;
  transition: transform 0.4s ease;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.part-left a:hover {
  transform: scale(1.1);
}

.questions {
  width: 90%;
  margin: 50px auto;
}

.questions h1 {
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 400;
}

.chev {
  transition: transform 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, padding 0.35s ease;
  padding: 0 20px;
  background: transparent;
}

.content {
  padding: 15px 0 30px 0;
  color: rgb(179, 179, 179);
  font-size: 15px;
  line-height: 24px;
}

.item[aria-expanded="true"] .chev {
  transform: rotate(45deg);
}

.item[aria-expanded="true"] .content-wrap {
  max-height: 600px;
  padding: 15px 20px;
}

.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.accordion .item {
  background-color: #000066;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 50px;
}

.accordion .trigger {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  text-align: left;
}


.accordion .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.accordion .title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

footer {
  width: 100%;
  margin: 40px auto 0px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.foot-left p {
  font-size: 13px;
}

.foot-right {
  display: flex;
  gap: 30px;
}

.foot-right a {
  text-decoration: none;
  color: #000066;
  font-size: 18px;
}

@media screen and (min-width: 1200px) {
  .hero-text {
    top: 50%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 15px 20px;
  }

  .nav-mid {
    display: none;
  }

  .nav-right a {
    display: none;
  }

  .menu {
    display: block;
  }

  .hero-text {
    top: 20%;
  }

  .hero-text h1 {
    font-size: 50px;
  }

  .d-txt {
    width: 100%;
  }

  .d-txt h2 {
    font-size: 30px;
  }

  .wellness {
    flex-direction: column;
  }

  .well-left,
  .well-right {
    width: 100%;
  }

  .well-right video {
    width: 100%;
  }

  .transform {
    flex-direction: column;
  }

  .transform-left,
  .transform-right {
    width: 100%;
  }

  .objective {
    flex-direction: column;
  }

  .obj-left,
  .obj-right {
    width: 100%;
  }

  .sticky {
    width: 100%;
  }

  .attached {
    background-position: center;
  }

  .attach-text {
    width: 90%;
  }

  .partnership {
    flex-direction: column;
  }

  .part-left,
  .part-right {
    width: 100%;
  }

  .item .title {
    font-size: 15px;
  }

  footer {
    padding: 5px 14px;
  }

  footer p {
    font-size: 13px;
  }

  .foot-right {
    gap: 10px;
  }

  .foot-right a {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .d-txt {
    width: 80%;
  }

  .d-txt h2 {
    font-size: 25px;
  }
}