/* :root {
  --font-family: Arapey;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
  position: relative;
}

.fixed-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
  font-size: 35px;
  padding: 25px;
  color: #25d366;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
  width: 55%;
  max-width: 736.7px;
  position: fixed;
  padding: 5px 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-hidden {
  opacity: 0;
  pointer-events: none;
}

nav a {
  text-decoration: none;
  color: #000066;
  font-size: 14px;
  transition: transform 0.4s ease;
}

nav a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-mid {
  display: flex;
  gap: 20px;
}

.nav-right a {
  border: 1px solid #000066;
  padding: 5px 10px;
  color: #000066;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}

.nav-right button {
  color: #000066;
}

.nav-right a:hover {
  background-color: #000066;
  color: white;
}


.menu {
  display: none;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 8px 10px;
  color: #000066;
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.nav-hidden {
  opacity: 0;
  pointer-events: none;
}


.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #000066;
  transition: transform 0.4s ease;
}

.mobile-menu a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mobile-menu .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #000066;
  padding: 10px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.5s ease;
  cursor: pointer;
}

.mobile-menu .close:hover {
  background-color: #000066;
  color: white;
  border-radius: 50px;
}


.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.text {
  width: 60%;
  margin: 100px auto;
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-weight: 400;
  font-size: 40px;
}

p {
  font-size: 15px;
  margin-top: 20px;
}

.events {
  width: 90%;
  margin: 50px auto;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* .events .camera {
  position: absolute;
  width: 150px;
  top: -40px;
  right: 20px;
} */

.event1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#visitSm1,
#visitSm2,
#visitSm3,
#visitSm4 {
  display: none;
}


.event1 button {
  align-self: flex-start;
  background-color: #000066;
  color: white;
  border-radius: 50px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.event1 h2 {
  font-weight: 400;
  font-size: 40px;
}

.e1-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.e1-top,
.e1-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.e1-img img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.e1-img img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.visit-sm,
.staff-sm,
.aw-sm {
  display: none;
}

footer {
  width: 100%;
  margin: 40px auto 0px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.foot-left p {
  font-size: 13px;
}

.foot-right {
  display: flex;
  gap: 30px;
}

.foot-right a {
  text-decoration: none;
  color: #000066;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 5px 30px;
    width: 90%;
  }

  .nav-mid {
    display: none;
  }

  .nav-right a {
    display: none;
  }

  .menu {
    display: block;
  }

  .e1-img img {
    width: 500px;
    height: 300px;
  }

  footer {
    padding: 5px 14px;
  }

  .foot-left p {
    display: none;
  }

  .foot-right {
    gap: 20px;
  }

}

@media screen and (min-width: 1200px) {
  .text {
    margin-top: 140px;
  }

  .event1 {
    align-items: center;
  }

  .e1-top,
  .e1-bottom {
    justify-content: center;
  }

  .e1-img img {
    width: 300px;
    height: 250px;
  }

}

@media screen and (max-width: 500px) {
  .e1-img img {
    width: 100%;
  }

  .text {
    width: 100%;
  }

}

@media screen and (min-width: 1500px) {
  .event1 {
    align-items: center;
  }

  .e1-top,
  .e1-bottom {
    justify-content: center;
  }


  .e1-img {
    width: 100%;
    gap: 30px;
  }

  .e1-img img {
    width: 400px;
    height: 300px;
  }
}

@media screen and (min-width: 2000px) {

  .e1-top,
  .e1-bottom {
    gap: 40px;
  }

  .e1-img img {
    width: 500px;
  }
}