:root {
  --font-family: Arapey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
  background: linear-gradient(to bottom right, white 90%, #FF00FF 190%);
  scroll-behavior: smooth;
}

.bg-white {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-white .menu {
  color: #000066;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-vid {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

nav {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  border-radius: 50px;
}

.logo img {
  border-radius: 50px;
}

.nav-mid {
  display: flex;
  gap: 50px;
  border-radius: 50px;
  background-color: white;
}

.nav-mid a {
  text-decoration: none;
  color: #000066;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 16px;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.nav-mid a:hover {
  transform: scale(1.1);
  background-color: #000066;
  color: white;
}

.nav-right a {
  text-decoration: none;
  color: #000066;
  background-color: white;
  padding: 15px 20px;
  border-radius: 100px;
  font-size: 16px;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease;
}

.nav-right a:hover {
  transform: scale(1.1);
  background-color: #000066;
  color: white;
}

.menu {
  display: none;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 8px 10px;
  color: #000066;
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #000066;
  transition: transform 0.4s ease;
}

.mobile-menu a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mobile-menu .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #000066;
  padding: 10px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.5s ease;
  cursor: pointer;
}

.mobile-menu .close:hover {
  background-color: #000066;
  color: white;
  border-radius: 50px;
}


.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.form-div {
  display: flex;
  margin: 140px auto;
  width: 90%;
}

.catch {
  width: 30%;
  /* border: 1px solid red; */
}


.infos {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info1,
.info2,
.info3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid lightgray;
  padding: 0px 0px 20px 0px;
}

.catch h2 {
  font-weight: 600;
  font-family: Outfit, sans-serif;
  font-size: 38px;
  color: rgb(0, 0, 0);
  line-height: 62px;
}

.catch p {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(102, 102, 102, 0.88);
}

.form {
  /* border: 1px solid blue; */
  width: 70%;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}


.input1 {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
  align-items: center;
}

.input2 {
  /* border: 1px solid orange; */
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-name,
.form-email {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
}

.form-name input,
.form-email input {
  width: 90%;
  background-color: whitesmoke;
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  caret-color: blue;
}

.input1 span,
.input2 span {
  font-size: 15px;
}

.form input::placeholder {
  font-size: 16px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message textarea {
  width: 100%;
  resize: none;
  height: 35vh;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px 10px;
  border: none;
  outline: none;
  font-family: Outfit;
  caret-color: blue;
}

.get {
  background-color: #000066;
  padding: 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: Outfit, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

footer {
  width: 100%;
  margin: 40px auto 0px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.foot-left p {
  font-size: 13px;
}

.foot-right {
  display: flex;
  gap: 30px;
}

.foot-right a {
  text-decoration: none;
  color: #000066;
  font-size: 18px;
}


@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 15px 20px;
  }

  .nav-mid {
    display: none;
  }

  .nav-right a {
    display: none;
  }

  .menu {
    display: block;
  }

  .form-div {
    flex-direction: column;
    gap: 50px;
  }

  .catch,
  .form {
    width: 100%;
  }

  footer {
    padding: 5px 14px;
  }

  .foot-left p {
    display: none;
  }

  .foot-right {
    gap: 20px;
  }
}