/* :root {
  --font-family: Arapey;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
  background: linear-gradient(to bottom right, white 90%, #FF00FF 190%);
  scroll-behavior: smooth;
  position: relative;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.fixed-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 15px;
  width: 40px;
  height: 40px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-decoration: none;
  font-size: 35px;
  padding: 25px;
  color: #25d366;
  background-color: white;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-white {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-white .menu {
  color: #000066;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-vid {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

nav {
  width: 55%;
  max-width: 736.7px;
  position: fixed;
  padding: 5px 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-hidden {
  opacity: 0;
  pointer-events: none;
}

nav a {
  text-decoration: none;
  color: #000066;
  font-size: 14px;
  transition: transform 0.4s ease;
}

nav a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-mid {
  display: flex;
  gap: 20px;
}

.nav-right a {
  border: 1px solid #000066;
  padding: 5px 10px;
  color: #000066;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}

.nav-right button {
  color: #000066;
}

.nav-right a:hover {
  background-color: #000066;
  color: white;
}

.menu {
  display: none;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 8px 10px;
  color: #000066;
}

.nav-hidden {
  opacity: 0;
  pointer-events: none;
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #000066;
  transition: transform 0.4s ease;
}

.mobile-menu a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mobile-menu .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #000066;
  padding: 10px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.5s ease;
  cursor: pointer;
}

.mobile-menu .close:hover {
  background-color: #000066;
  color: white;
  border-radius: 50px;
}


.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hear {
  width: 90%;
  margin: 40px auto 30px auto;
}

.hear p {
  font-size: 30px;
  line-height: 20px;
}

.top-form {
  margin: 140px auto 0px auto;
}

.top-form h1 {
  font-weight: 400;
  text-align: center;
  font-size: 40px;
}

.top-form p {
  font-size: 14px;
  text-align: center;
}

.form-div {
  display: flex;
  gap: 20px;
  margin: 20px auto 50px auto;
  width: 90%;
}

.form-left {
  width: 40%;
  position: relative;
}

.form-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
}

.catch {
  width: 30%;
  /* border: 1px solid red; */
}


.infos {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info1,
.info2,
.info3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid lightgray;
  padding: 0px 0px 20px 0px;
}

.catch h2 {
  font-weight: 600;
  font-family: Outfit, sans-serif;
  font-size: 38px;
  color: rgb(0, 0, 0);
  line-height: 62px;
}

.catch p {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: rgba(102, 102, 102, 0.88);
}

.form {
  /* border: 1px solid blue; */
  width: 60%;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}


.input1 {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
  align-items: center;
}

.input2 {
  /* border: 1px solid orange; */
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-name,
.form-email {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
}

.form-name input,
.form-email input {
  width: 90%;
  background-color: whitesmoke;
  padding: 20px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  caret-color: #000066;
}

.input1 span,
.input2 span {
  font-size: 15px;
}

.form input::placeholder {
  font-size: 16px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message textarea {
  width: 100%;
  resize: none;
  height: 35vh;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px 10px;
  border: none;
  outline: none;
  font-family: Outfit;
  caret-color: blue;
}

.get {
  background-color: #000066;
  padding: 20px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: Outfit, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.contact-divs {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.c-1 {
  width: 40%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  text-align: center;
  background-color: #f3f3ff;
  padding: 20px 10px;
}

.c-1 i {
  font-size: 20px;
}

.c-1 h2 {
  font-weight: 400;
  font-size: 20px;
}

.c-1 p {
  font-size: 15px;
}

.c-1 a {
  color: #000066;

}

.c-1 span {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 10px;
  display: block;
}

.c-1 i {
  font-size: 22px;
  color: #000066;
}


footer {
  width: 100%;
  margin: 40px auto 0px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.foot-left p {
  font-size: 13px;
}

.foot-right {
  display: flex;
  gap: 30px;
}

.foot-right a {
  text-decoration: none;
  color: #000066;
  font-size: 18px;
}


@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 5px 30px;
    width: 90%;
  }

  .nav-mid {
    display: none;
  }

  .nav-right a {
    display: none;
  }

  .menu {
    display: block;
  }

  .form-div {
    flex-direction: column;
    gap: 50px;
  }

  .form-left {
    display: none;
  }

  .catch,
  .form {
    width: 100%;
  }

  .contact-divs {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .c-1 {
    width: 80%;
  }

  footer {
    padding: 5px 14px;
  }

  .foot-left p {
    display: none;
  }

  .foot-right {
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .hear {
    width: 50%;
  }


  .c-1 {
    height: 300px;
    padding: 30px;
  }

  .c-1 h2 {
    font-size: 20px;
  }

  .c-1 p {
    font-size: 18px;
  }

  .hear p {
    font-size: 20px;
    line-height: 24px;
  }

  .form-div {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1500px) {
  .top-form h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 2000px) {
  .c-1 {
    height: 400px;
  }

  .c-1 h2 {
    font-size: 30px;
  }

  .c-1 p {
    font-size: 25px;
  }

  .hear {
    width: 40%;
    margin-bottom: 50px;
  }

  .hear p {
    font-size: 30px;
    line-height: 36px;
  }

  input {
    padding: 50px;
  }

  .contact-divs {
    gap: 50px;
  }

  .c-1 {
    width: 30%;
  }
}