/* :root {
  --font-family: Arapey;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans";
}

nav {
  width: 55%;
  max-width: 736.7px;
  position: fixed;
  padding: 5px 20px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-hidden {
  opacity: 0;
  pointer-events: none;
}


nav a {
  text-decoration: none;
  color: #000066;
  font-size: 14px;
  transition: transform 0.4s ease;
}

nav a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-mid {
  display: flex;
  gap: 20px;
}

.nav-right a {
  border: 1px solid #000066;
  padding: 5px 10px;
  color: #000066;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}

.nav-right button {
  color: #000066;
}

.nav-right a:hover {
  background-color: #000066;
  color: white;
}


.menu {
  display: none;
  font-size: 30px;
  border: none;
  background-color: transparent;
  padding: 8px 10px;
  color: #000066;
}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #000066;
  transition: transform 0.4s ease;
}

.mobile-menu a:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mobile-menu .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  color: #000066;
  padding: 10px 15px;
  transition: background-color 0.4s ease, border-radius 0.4s ease, color 0.5s ease;
  cursor: pointer;
}

.mobile-menu .close:hover {
  background-color: #000066;
  color: white;
  border-radius: 50px;
}


.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.who {
  width: 90%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 50px;
  font-weight: 400;
  margin-top: 40px;
}

.abts {
  width: 95%;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.abt-left,
.abt-right {
  position: relative;
  height: 600px;
}

.abt-left {
  width: 60%;
}

.abt-left img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.abt-left img:hover {
  transform: scale(0.98);
}

.abt-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.abt-right img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.abt-right img:hover {
  transform: scale(0.98);
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.abt-right a {
  text-decoration: none;
  color: white;
  background-color: #000066;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  font-size: 16px;
  transition: transform 0.4s ease;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.abt-right a:hover {
  transform: scale(1.1);
}

.founder-div {
  width: 90%;
  margin: 60px auto;
}

.founder-div h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}

.founder {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.founder-left,
.founder-right {
  width: 50%;
}

.founder-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.founder-left h2 {
  font-weight: 400;
  font-size: 40px;
}

.founder-left .ceo {
  font-weight: 400;
  font-size: 12px;
}

.founder-left .abt-ceo {
  font-weight: 300;
}

.founder-right {
  display: flex;
  justify-content: center;
}

.founder-right img {
  width: 400px;
  object-fit: contain;
  border-radius: 50px;
  transform: rotate(2deg);
}

.vm {
  width: 90%;
  margin: 140px auto 60px auto;
  display: flex;
  justify-content: center;
  gap: 80px;
  text-align: center;
}

.vision,
.mission {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  gap: 20px;
  padding: 10px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.services {
  width: 100%;
  margin: 100px auto;
}

.services h2 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.services-divs {
  width: 95%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.serv-top,
.serv-bottom {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.serv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35%;
  height: 300px;
  padding: 30px 10px;
  background-color: #000066;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.serv i {
  background-color: white;
  color: #000066;
  font-size: 25px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.serv h1 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: white;
}

.serv p {
  font-size: 15px;
  color: white;
}

.testimony {
  width: 90%;
  margin: 120px auto 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.testimony h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.testimony .text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.main-test {
  width: 100%;
  height: 400px;
  display: flex;
}

.test-left,
.test-right {
  width: 50%;
  height: 400px;
  position: relative;
}


.test-left img,
.test-right img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.9);
}

.test-left h1,
.test-right h1 {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%);
}

.vision {
  background-color: #000066;
  color: white;
  transform: rotate(4deg);
}

.mission {
  transform: rotate(-4deg);
}

.vision h2,
.mission h2 {
  font-weight: 400;
  text-align: center;
  font-size: 40px;
}

.policy {
  width: 90%;
  height: 450px;
  margin: 120px auto 80px auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.policy-left,
.policy-right {
  width: 60%;
  position: relative;
}

.policy-left {
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.policy-left h2 {
  font-weight: 400;
  font-size: 40px;
}

.policy-right img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pioneer {
  display: flex;
  width: 90%;
  margin: 50px auto;
  align-items: center;
  padding: 20px;
}

.pioneer-left,
.pioneer-right {
  width: 50%;
}

.pioneer-left {
  position: relative;
  height: 400px;
}

.pioneer-left img {
  position: absolute;
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.pioneer-right h2 {
  font-weight: 400;
  font-size: 40px;
}

.pioneer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pioneer-right p {
  font-size: 15px;
}

.visit {
  width: 90%;
  height: 500px;
  margin: 100px auto;
  display: flex;
}

.visit-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding-left: 50px;
}

.visit-left h2 {
  font-weight: 400;
  font-size: 30px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lists p {
  font-size: 16px;
}

.visit-left a {
  color: white;
  background-color: #000066;
  padding: 10px 30px;
  font-size: 14px;
  align-self: flex-start;
  text-decoration: none;
  border-radius: 50px;
}

.visit-right {
  width: 40%;
  position: relative;
}

.visit-right img {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
}

.team-div {
  width: 90%;
  margin: 100px auto;
}

.team-div .title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.team-div p {
  text-align: center;
  font-size: 14px;
}

.team-main {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px auto;
}

.staffs {
  width: 100%;
  margin: auto;
  display: flex;
  gap: 30px;
}

.st1 {
  border-radius: 20px;
  width: 25%;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #f3f3ff;
  padding: 30px 10px;
}

.st1 img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.st1 h2 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.st1 p {
  font-size: 12px;
}

.staffs-bottom {
  justify-content: center;
}

footer {
  width: 100%;
  margin: 40px auto 0px auto;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.foot-left p {
  font-size: 13px;
}

.foot-right {
  display: flex;
  gap: 30px;
}

.foot-right a {
  text-decoration: none;
  color: #000066;
  font-size: 18px;
}



@media screen and (min-width: 1500px) {
  nav {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    width: 50%;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 30px;
  }

  .who p {
    font-size: 23px;
  }

  .abt-ceo {
    font-size: 18px;
  }

  .vm p {
    font-size: 18px;
  }

  .policy-left p {
    font-size: 20px;
  }

  .pioneer-right p {
    font-size: 18px;
  }

  .testimony p {
    font-size: 20px;
  }

  .policy-right img {
    object-fit: contain;
  }

  .main-test {
    width: 50%;
    justify-content: center;
    gap: 30px;
  }

  .visit-left h2 {
    font-size: 35px;
  }

  .lists p {
    font-size: 25px;
  }

  .test-left,
  .test-right {
    width: 40%;
  }


  .test-left img,
  .test-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .serv p {
    font-size: 18px;
  }

  .serv {
    gap: 30px;
    height: 400px;
    padding: 40px 40px;
  }

}


@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 5px 30px;
    width: 90%;
  }

  .nav-mid {
    display: none;
  }

  .nav-right a {
    display: none;
  }


  .menu {
    display: block;
  }

  .abts {
    flex-direction: column;
  }

  .abt-left,
  .abt-right {
    width: 100%;
  }

  .founder {
    flex-direction: column;
    gap: 50px;
  }

  .founder-left {
    width: 100%;
  }

  .founder-right img {
    width: 300px;
  }

  .vm {
    flex-direction: column;
    align-items: center;
  }

  .vision,
  .mission {
    width: 80%;
  }

  .services-divs {
    flex-direction: column;
    align-items: center;
  }

  .testimony .text {
    width: 100%;
  }

  .policy {
    flex-direction: column;
  }

  .policy-left,
  .policy-right {
    width: 100%;
  }

  .policy-right {
    display: none;
  }

  .pioneer {
    flex-direction: column;
  }

  .pioneer-left,
  .pioneer-right {
    width: 100%;
  }

  .main-test {
    gap: 20px;
  }

  .serv-top,
  .serv-bottom {
    flex-direction: column;
    align-items: center;
  }

  .serv {
    width: 60%;
  }

  .visit {
    flex-direction: column;
    margin: 50px auto;
    height: 380px;
    width: 80%;
  }

  .visit-left,
  .visit-right {
    width: 100%;
    padding: 0;
  }

  .visit-right {
    display: none;
  }

  .test-left img,
  .test-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .staffs {
    flex-wrap: wrap;
  }

  .st1 {
    width: 45%;
  }

  footer {
    padding: 5px 14px;
  }

  .foot-left p {
    display: none;
  }

  .foot-right {
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .staffs {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .st1 {
    width: 90%;
  }

  .serv {
    width: 80%;
  }
}

@media screen and (min-width: 2000px) {

  .founder-left,
  .founder-right {
    width: 40%;
  }

  .abt-ceo {
    font-size: 30px;
  }

  .vision,
  .mission {
    width: 40%;
    padding: 10px;
  }

  .policy-left,
  .policy-right {
    width: 40%;
  }

  .policy-left p {
    font-size: 20px;
  }

  .pioneer-left,
  .pioneer-right {
    width: 40%;
  }

  .testimony {
    width: 50%;
  }

  .testimony .text p {
    font-size: 23px;
  }

  .serv {
    width: 30%;
    gap: 30px;
    height: 400px;
    padding: 30px 40px;
  }


  .serv i {
    font-size: 40px;
    width: 60px;
    height: 60px;
  }

  .serv h1 {
    font-size: 25px;
  }

  .serv p {
    font-size: 23px;
  }

  .visit-left h2 {
    font-size: 50px;
  }

  .lists p {
    font-size: 30px;
  }

}